dist: trusty
sudo: false
group: beta
language: node_js
node_js:
- node
cache:
  directories:
  - node_modules
before_install:
- if [ -d node_modules ] && [ x$(cat node_modules/.last-node-version 2>/dev/null) != x$(node -e 'console.log(process.version)') ]; then npm rebuild --update-binary && node -e 'console.log(process.version)' > node_modules/.last-node-version; fi
deploy:
  provider: npm
  email: npm@collaborne.com
  api_key:
    secure: "Yk3CgHt3RNGbVPYz29LkJfgHQXh5tFGmhiTGSCwHPs2gIUCjtsao7qH/y181K/LYS2Ei6Oe594sOir3mn9Rpgk42vxQsbESkorNqmkVjMi+7bkPYjv0T8ztaS/hjIpa0s5pf9u4/3rHtMUe0aehNRCP6KRq58MsgRvaFGwUxSu4+rRyu2Uleqe46ou6fg01k/IDZrlpDC4i7WMpCZtPALEo4oLVO1+1UcylPDlZbs5pfP3o57AP+KRKFhQ0DyW2+C/HJwn22+T5+4+bjYbdbNhXroCACvcDOuX/hZJe7C7HpnLoNwsEHVe1Fky2ZT2nf6U0DniTjBZu09A5hkHbQivIKyrWRC3mVlTwMbwt7iKE8O3lrqOBr4LvDOWDMhN1PVikzAFX5UjPz4gPJXjYMSdmDH0srPLKjOGflEn+c80XRSun1i+MvTJhzVHDCTUl9HPj9MRuJQL+1OF1TIMAYQ6KfWXEs4QEx6r4pwVeJciZbCG5Q7zLUQbAeYMKNBewag517px+cquioxdvoWMDBTTDYtL9hyqgL+jos+4RNpParuVvhD1ztLRcbBbeV0IaGAOPW5E2QpPx8slWqpPYoyWUuEiu0jyJ9lNAsRiSC9kqrljv1unrfXd7i4dkA63Hxru0bd3KTbjYNiKj65FWqIo5BZ5vjIB0SKHPtbRrbso8="
  on:
    tags: true
    condition: $(node -e 'console.log("v" + require("./package.json").version)') = ${TRAVIS_TAG}
  skip_cleanup: true
